*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(#6B96DB);
}
.container{
    border: 2px solid white;
    width: 40%;
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
}
.newtask{
    background-color: #ffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.newtask input{
    height: 70%;
    width: 70%;
    font-size: 15px;
    border: 1px solid #d1d3d4;
    padding: 12px;
    color: black;
    border-radius: 5px;
}
.newtask button{
    height: 45px;
    width: 20%;
    float: right;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #6B96DB;
    border: none;
    color: #ffff;
    cursor: pointer;
}
#tasks{
    background-color: #ffff;
    padding: 30px 20px;
    border-radius: 5px;
    margin-top: 60px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
}
.task{
    background-color: #ffff;
    height: 50px;
    padding:5px 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    border-bottom: 2px solid #d1d3d4;
    width: 100%;
    cursor: pointer;
}
.task span{
    font-size: 15px;
    font-weight: 400;
    flex-basis: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.task button{
    background-color: #6B96DB;
    height: 100%;
    width :45px ;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #ffff;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}